<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fypmoney">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.USE_BIOMETRIC"
        android:requiredFeature="false" />

    <application
        android:name=".application.PockketApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DreamfolksApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.activity.AddTaskActivity"
            android:label="@string/title_activity_add_task"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar"></activity>
        <activity
            android:name=".view.activity.ChoresHistoryActivity"
            android:label="@string/title_activity_chores_history"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".view.activity.SplashView"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.FirstScreenView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.LoginView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.SelectInterestView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.EnterOtpView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.CreateAccountView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.LoginSuccessView"
            android:noHistory="true"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.PermissionView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.ContactListView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.EnterAmountForPayRequestView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".view.activity.PayRequestProfileView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.ReferralCodeView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.CreateAccountSuccessView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.CommunityView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.MainActivity"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.ContactView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.HomeView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.UserProfileView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />

        <activity
            android:name=".view.activity.NotificationView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.MemberView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.AddMemberView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".view.activity.UserFeedsDetailView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.ChoresActivity"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.InviteRejectedView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.AccountActivationSuccessView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.StayTunedView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.InviteMemberView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.AadhaarAccountActivationView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.AadhaarVerificationView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.LogView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.TransactionHistoryView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.ActivationSuccessWithAadhaarView"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity android:name=".view.activity.PushNotificationView">
            <intent-filter>
                <action android:name="Webview" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receivers.SmsBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.GeofenceBroadcastReceiver" />

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>