<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />
            <category android:name="android.intent.category.DEFAULT" />

            <data
                android:host="pay"
                android:scheme="upi" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />

    <uses-permission
        android:name="android.permission.USE_BIOMETRIC"
        android:requiredFeature="false" />

    <application
        android:name=".application.PockketApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.DreamfolksApp"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        tools:replace="android:usesCleartextTraffic">
        <activity
            android:name=".view.kycagent.ui.KycAgentActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.addmoney.NewAddMoneyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ordercard.cardofferdetails.CardOfferDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ordercard.activateofflinecard.ScanCardKitNumberActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ordercard.placeordersuccess.PlaceOrderSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ordercard.personaliseyourcard.PersonaliseYourCardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ordercard.cardorderoffer.CardOrderOfferActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.webview.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.community.SocialCommunityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.referandearn.view.ReferAndEarnActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.HtmlOpenerView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AddTaskActivity"
            android:label="@string/title_activity_add_task"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ChoresHistoryActivity"
            android:label="@string/title_activity_chores_history"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SplashView"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.WalkThroughMainView"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.ordercard.placeorder.PlaceOrderCardView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ordercard.OrderCardView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SetPinView"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.AddMoneyView"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".view.ordercard.trackorder.TrackOrderView"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DreamfolksApp.NoActionBar" />
        <activity
            android:name=".view.activity.FirstScreenView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.BankTransactionHistoryView"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.LoginView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SelectInterestView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.EnterOtpView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.CreateAccountView"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.LoginSuccessView"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.contacts.view.PayToContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.EnterAmountForPayRequestView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.activity.PayRequestProfileView"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ReferralCodeView"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.CreateAccountSuccessView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.CommunityView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.UserProfileView"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.NotificationView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MemberView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AddMemberView"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.activity.UserFeedsDetailView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ChoresActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.InviteRejectedView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.register.UserTypeOnLoginView"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.StayTunedView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.InviteMemberView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AadhaarAccountActivationView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AadhaarVerificationView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".view.activity.TransactionHistoryView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ActivationSuccessWithAadhaarView"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.AddMoneyUpiDebitView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PayUSuccessView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.CaptureActivityPortrait"
            android:screenOrientation="sensorPortrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.ImagePickerView"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.StoreWebpageOpener"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ChoresSelectSampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PermissionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.OfferDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.rewardsAndWinnings.RewardsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.rewardsAndWinnings.activity.SpinWheelViewDark"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.rewardsAndWinnings.activity.ScratchCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.StoreWebpageOpener2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.UserFeedsInAppWebview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.rewardsAndWinnings.activity.RewardsHistoryView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.rewardsAndWinnings.CashBackWonHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PayUSuccessViewCashbackWon"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.home.main.homescreen.view.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moe.pushlibrary.activities.MoEActivity"
            android:label="HomeView"
            android:parentActivityName=".view.kycagent.ui.KycAgentActivity" />
        <activity android:name=".view.home.main.explore.ViewDetails.ExploreInAppWebview" />
        <activity
            android:name=".view.fragment.OffersStoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.register.SelectRelationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.register.InviteParentSiblingActivity"
            android:screenOrientation="portrait" />
        <!--
<service android:name="com.moengage.firebase.MoEFireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        -->
        <activity
            android:name=".view.register.PendingRequestActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.register.PersonalisedOffersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ChooseInterestRegisterView"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.register.PanAdhaarSelectionActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.register.KycDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.register.OpenGiftActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.register.YourGiftsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.register.WaitlistAprovalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.register.TimeLineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ChooseInterestHomeView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".util.videoplayer.VideoActivity2"
            android:theme="@style/video.FullScreen"></activity>
        <activity
            android:name=".view.upgradetokyc.UpgradeToKycInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.discord.view.DiscordInviteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.discord.view.DiscordWebView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.discord.view.DiscordProfileActivity"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="payu_debug_mode_enabled"
            android:value="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/freshchat_file_provider_paths" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name="com.adjust.sdk.AdjustReferrerReceiver"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

    <queries>
        <package android:name="com.mantra.rdservice" />
        <package android:name="com.scl.rdservice" />
        <package android:name="com.acpl.registersdk" />
    </queries>

</manifest>